
.card-hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  }
  
  .card-hover-effect:hover {
    transform: scale(1.03); /* Escala la card al 105% */
    box-shadow: 0 4px 20px rgba(247, 1, 13, 0.2); /* Sombra para el efecto de elevación */
  }